body {
    background: #ececec;
    background: linear-gradient(227deg, rgba(1, 115, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
}

.header__title {
    color: goldenrod;
    padding: 5px 0;
    border-top: 3px dashed black;
    border-bottom: 3px dashed black;
    border-radius: 1px;
    text-align: center;
}

.site-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: brown;
    top: 0px;
}

.navigation {}

.navigation__item {
    display: block;
    margin: 0px 8px;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.navigation__link {
    color: white;
    text-decoration: none;
}

.to_do {}

.to-do__header {
    color: rgb(60, 88, 60);
    border-bottom: 1px dotted red;
}

.to-do__day {
    color: rgb(156, 6, 6);
    text-decoration: none;
    padding: 10px;
}

.to-do__link {
    text-decoration: none;
    color: blue;
    font-size: 70%;
}

.realization {}

.realization__header {
    color: rgb(60, 88, 60);
    border-bottom: 1px dotted red;
}

.realization__day {
    color: green;
    padding: 10px;
}

.realization__day--weekend {
    color: red;
}